@model PresentationLayer.Models.CourseViewModel
{
    ViewBag.Title = "DeleteCourse";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
