@model PresentationLayer.Models.DepartmentViewModel
{
    ViewBag.Title = "DeleteDepartment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
