@model PresentationLayer.Models.DepartmentViewModel
@{
    ViewBag.Title = "SaveDepartment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveDepartment</title>
</head>
<body>
    <h1>Following department data has been saved:</h1>
    <div>
        <p>DepartmentName: @Model.DepartmentName</p>
        <p>Description: @Model.Description</p>
        <p>DepartmentHead: @Model.EstdDate</p>
        <p>EstablishedDate: @Model.DepartmentHead</p>
    </div>
</body>
</html>
