@model PresentationLayer.Models.LevelViewModel

@{
    ViewBag.Title = "SaveLevel";
}

<h1>Following Level Data Has been Saved</h1>
<div>
    <p>DepartmentName: @Model.Year</p>
    <p>Description: @Model.Semester</p>
    <p>EstablishedDate: @Model.Description</p>
</div>